/*
Main: it should ONLY contain the imports for the above files.
*/
/* resets */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

/* base styles  */
body {
  width: 100%;
  height: auto;
  font-family: 'poppins-regular' ,sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: #fff;
}

h2 {
  font-size: 1.125rem;
  color: #333645;
}

h3 {
  font-size: 1rem;
  color: #926fb1;
}

h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
  font-weight: 400;
}

footer {
  background-color: #333645;
  color: #fff;
  padding: 47px 0 43px;
}

/* utility */
@media screen and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
}

@media screen and (min-width: 768px), (max-width: 992px) {
  .hide-tablet {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .hide-desktop {
    display: none;
  }
}

/* Web Fonts -------------------- 
everything font related, literally like line height, font size, ect ect ect*/
@font-face {
  font-family: "poppins-regular";
  src: url("/fonts/Poppins-Regular.ttf");
}

.single-divider > div {
  width: 33px;
  height: 3px;
  background-color: black;
  margin: 6px auto;
}

.text-small {
  font-size: x-small;
}

.color-hoki {
  color: #67809f;
}

.color-havelockblue {
  color: #4183d7;
}

.color-shamrock {
  color: #2ecc71;
}

.color-valenia {
  color: #d64541;
}

.color-wisteria {
  color: #926fb1;
}

.color-radicalred {
  color: #f62459;
}

.bckgrnd-hoki {
  background-color: #67809f;
}

.bckgrnd-havelockblue {
  background-color: #4183d7;
}

.bckgrnd-shamrock {
  background-color: #2ecc71;
}

.bckgrnd-valenia {
  background-color: #d64541;
}

.bckgrnd-wisteria {
  background-color: #926fb1;
}

.bckgrnd-radicalred {
  background-color: #f62459;
}

.bckgrnd-grey {
  background-color: #999aa2;
}

.hover-hoki:hover {
  background-color: #67809f;
}

.hover-hoki:hover i {
  color: white;
}

.hover-havelockblue:hover {
  background-color: #4183d7;
}

.hover-havelockblue:hover i {
  color: white;
}

.hover-shamrock:hover {
  background-color: #2ecc71;
}

.hover-shamrock:hover i {
  color: white;
}

.hover-valencia:hover {
  background-color: #d64541;
}

.hover-valencia:hover i {
  color: white;
}

.hover-wisteria:hover {
  background-color: #926fb1;
}

.hover-wisteria:hover i {
  color: white;
}

.hover-radicalred:hover {
  background-color: #f62459;
}

.hover-radicalred:hover i {
  color: white;
}

.hover-switch-icons-hoki:hover .dot {
  background-color: white;
}

.hover-switch-icons-hoki:hover .dot i {
  color: purple;
}

.hover-switch-icons-hoki:hover h2 {
  color: white;
}

.hover-switch-icons-hoki:hover p {
  color: white;
}

.hover-switch-icons-hoki:hover .single-divider div {
  background-color: white;
}

.hover-switch-icons-hoki:hover button {
  background-color: white;
}

.hover-switch-icons-hoki:hover .dot #tile-icon {
  color: #67809f;
}

.hover-switch-icons-hoki:hover button {
  color: #67809f;
}

.hover-switch-icons-havelockblue:hover .dot {
  background-color: white;
}

.hover-switch-icons-havelockblue:hover .dot i {
  color: purple;
}

.hover-switch-icons-havelockblue:hover h2 {
  color: white;
}

.hover-switch-icons-havelockblue:hover p {
  color: white;
}

.hover-switch-icons-havelockblue:hover .single-divider div {
  background-color: white;
}

.hover-switch-icons-havelockblue:hover button {
  background-color: white;
}

.hover-switch-icons-havelockblue:hover .dot #tile-icon {
  color: #4183d7;
}

.hover-switch-icons-havelockblue:hover button {
  color: #4183d7;
}

.hover-switch-icons-shamrock:hover .dot {
  background-color: white;
}

.hover-switch-icons-shamrock:hover .dot i {
  color: purple;
}

.hover-switch-icons-shamrock:hover h2 {
  color: white;
}

.hover-switch-icons-shamrock:hover p {
  color: white;
}

.hover-switch-icons-shamrock:hover .single-divider div {
  background-color: white;
}

.hover-switch-icons-shamrock:hover button {
  background-color: white;
}

.hover-switch-icons-shamrock:hover .dot #tile-icon {
  color: #2ecc71;
}

.hover-switch-icons-shamrock:hover button {
  color: #2ecc71;
}

.hover-switch-icons-valenia:hover .dot {
  background-color: white;
}

.hover-switch-icons-valenia:hover .dot i {
  color: purple;
}

.hover-switch-icons-valenia:hover h2 {
  color: white;
}

.hover-switch-icons-valenia:hover p {
  color: white;
}

.hover-switch-icons-valenia:hover .single-divider div {
  background-color: white;
}

.hover-switch-icons-valenia:hover button {
  background-color: white;
}

.hover-switch-icons-valenia:hover .dot #tile-icon {
  color: #d64541;
}

.hover-switch-icons-valenia:hover button {
  color: #d64541;
}

.hover-switch-icons-wisteria:hover .dot {
  background-color: white;
}

.hover-switch-icons-wisteria:hover .dot i {
  color: purple;
}

.hover-switch-icons-wisteria:hover h2 {
  color: white;
}

.hover-switch-icons-wisteria:hover p {
  color: white;
}

.hover-switch-icons-wisteria:hover .single-divider div {
  background-color: white;
}

.hover-switch-icons-wisteria:hover button {
  background-color: white;
}

.hover-switch-icons-wisteria:hover .dot #tile-icon {
  color: #926fb1;
}

.hover-switch-icons-wisteria:hover button {
  color: #926fb1;
}

.hover-switch-icons-radicalred:hover .dot {
  background-color: white;
}

.hover-switch-icons-radicalred:hover .dot i {
  color: purple;
}

.hover-switch-icons-radicalred:hover h2 {
  color: white;
}

.hover-switch-icons-radicalred:hover p {
  color: white;
}

.hover-switch-icons-radicalred:hover .single-divider div {
  background-color: white;
}

.hover-switch-icons-radicalred:hover button {
  background-color: white;
}

.hover-switch-icons-radicalred:hover .dot #tile-icon {
  color: #f62459;
}

.hover-switch-icons-radicalred:hover button {
  color: #f62459;
}

.btn {
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  padding: 15px 30px 15px 30px;
  font-size: 1.063rem;
}

.btn-big {
  margin-top: 50px;
  padding: 5px 15px;
  height: auto;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  color: #fff;
  line-height: 50px;
  border: none;
}

.btn-tooltip {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: .75rem;
  padding: 0 10px;
  line-height: 1.438rem;
  text-transform: uppercase;
  background-color: #926fb1;
  font-weight: 600;
}

.btn-wide {
  height: 56px;
  line-height: 46px;
  font-size: 1.125rem;
  float: left;
  color: #fff;
  background-color: #4183d7;
  border-color: #4183d7;
  padding: 5px 15px;
  text-transform: uppercase;
  border-radius: 3px;
  white-space: normal;
}

.btn-desktop {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  color: #fff;
  line-height: 50px;
  border: none;
}

.burger-button {
  height: 100%;
  width: 100%;
  background-color: #333645;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

.burger-button:focus {
  border: none;
  outline: none;
}

.burger-button-inner > div {
  width: 33px;
  height: 3px;
  background-color: white;
  margin: 6px auto;
}

.burger-button p {
  margin: auto;
  color: white;
  font-size: 0.75rem;
}

/*Icon stylings sizes*/
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.arrow {
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 5px;
}

.social-media-icon {
  margin-top: 30px;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  font-size: 1.75rem;
  line-height: 3.438rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.search-bar input[type=text] {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  padding: 5px 40px 5px 15px;
}

.submit-button {
  background: none;
  border: none;
  color: #333645;
  outline: none;
  float: right;
  position: absolute;
  right: 25px;
  padding-top: 6px;
}

.search-bar-md input[type=text] {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  padding: 5px 40px 5px 15px;
  background-color: white;
}

.submit-button-md {
  outline: none;
  color: #fff;
  position: absolute;
  height: 56px;
  background-color: #999aa2;
  border-radius: 0 3px 3px 0;
  border: none;
  padding: 7px 15px 4px;
}

@media screen and (min-width: 992px) {
  .submit-button-md {
    position: absolute;
  }
}

.carousel {
  height: 565px;
  width: 100%;
}

.carousel .text-area {
  margin: auto;
  height: max-content;
  max-width: max-content;
  text-align: center;
  padding-top: 110px;
}

@media screen and (min-width: 992px) {
  .carousel .text-area {
    margin: auto;
    height: auto;
    max-width: unset;
    text-align: left;
    padding-top: 110px;
    padding-left: 33px;
    width: 992px;
  }
}

.carousel h1 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 25px;
}

.carousel p {
  color: #fff;
  font-size: 1.25rem;
}

.carousel #dot {
  color: #fff;
  font-style: 2rem;
  margin-top: 50px;
}

.carousel .carousel-button {
  border: none;
  color: #fff;
  background-color: #f62459;
}

@media screen and (min-width: 768px) {
  .carousel {
    height: 625px;
  }
}

@media screen and (min-width: 992px) {
  .carousel {
    height: 870px;
  }
}

.carousel img {
  max-height: 100%;
  width: auto;
}

.content-item-1 {
  border: 1px solid #ccc;
  margin: 15px 15px 15px 15px;
  padding: 40px;
  width: 100%;
  height: fit-content;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.content-item-1 .dot {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 17px;
}

.content-item-1 .dot #tile-icon {
  line-height: 50px;
  color: white;
}

.content-item-1 h2 {
  font-weight: 250;
}

.content-item-1 p {
  font-size: .8125rem;
  font-weight: 400;
  margin: 13px;
}

.content-item-2 {
  border: 1px solid #ccc;
  margin: 15px 15px 15px 15px;
  width: 100%;
  height: fit-content;
}

.content-item-2 .image-container-latest img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-item-2 p {
  font-size: .8125rem;
  font-weight: 400;
  margin: 13px;
}

.content-item-2 .user {
  border-top: 1px solid #ccc;
  margin-top: 30px;
  padding-top: 30px;
}

.content-item-2 .user .post-details {
  display: inline-block;
}

.content-item-2 .user-title {
  font-weight: bold;
}

@media screen and (min-width: 768px), (max-width: 992px) {
  .col-split-md {
    width: 45%;
    float: left;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 992px) {
  .col-split-sm {
    width: 28.33333333%;
    float: left;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1260px) {
  .col-split-lg {
    width: 22%;
  }
}

.latest-title {
  height: auto;
  padding: 0 15px;
  margin: auto;
}

.latest-title h2 {
  display: block;
  padding: 40px 0;
  color: #333645;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  position: relative;
}

@media screen and (min-width: 768px) {
  .latest-title {
    width: 750px;
  }
}

.latest-content-container .text-container a {
  color: #926fb1;
  font-size: 1rem;
}

.single-divider-large {
  width: 72px;
  height: 5px;
  background-color: #333645;
}

.culture-container h1 {
  font-size: 2.25rem;
}

.culture-container p {
  line-height: 1.875rem;
  margin-bottom: 25px;
  color: #fff;
}

.culture-container button {
  color: #333645;
}

.newsletter-signup-container {
  margin-right: auto;
  margin-left: auto;
}

.newsletter-signup-container form {
  padding: 50px 30px 50px 30px;
}

@media screen and (min-width: 768px) {
  .newsletter-signup-container form {
    width: 750px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 992px) {
  .newsletter-signup-container form {
    width: 970px;
  }
}

.newsletter-signup-container a {
  color: #333645;
  text-decoration: underline;
}

.newsletter-signup-container h2 {
  font-size: 2rem;
  font-weight: 400;
}

.newsletter-signup-container label {
  font-weight: 600;
}

.newsletter-signup-container input[type=text] {
  box-sizing: border-box;
  height: 47px;
  width: 100%;
  padding: 5px 15px;
}

.newsletter-signup-container button {
  display: block;
  margin-top: 30px;
}

.newsletter-signup-container input[type=checkbox] {
  border-radius: 3px;
  border: 3px solid #333645;
  height: 32px;
  width: 32px;
}

@media screen and (max-width: 768px) {
  .accredidations {
    display: none;
  }
}

.row {
  display: flex;
  flex-direction: row;
  width: 750px;
  margin: 0 auto;
}

.row .acred-item {
  flex-grow: 1;
  padding: 0 20px;
  flex-grow: 1;
}

.row .acred-item img {
  height: auto;
  width: 100%;
}

.acred-switcher :last-child {
  display: none;
}

.acred-switcher:hover :last-child {
  display: inline-block;
}

.acred-switcher:hover :first-child {
  display: none;
}

.google-partners-badge {
  box-shadow: 2px 2px 5px grey;
}

.horizontal-padder {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .horizontal-padder {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .horizontal-padder {
    width: 970px;
  }
}

@media screen and (min-width: 1260px) {
  .horizontal-padder {
    width: 1200px;
  }
}

.text-container {
  padding: 30px;
}

.main-content {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .search-bar-container {
    display: none;
  }
}

.search-bar-container {
  width: 100%;
  height: 47px;
  padding-top: 10px;
}

.search-bar-container-md {
  height: 56px;
  width: 237px;
  padding-left: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .search-bar-container-md {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1260px) {
  .search-bar-container-md {
    width: auto;
    padding-left: 20px;
  }
  .search-bar-container-md input[type=text] {
    display: none;
  }
}

@media screen and (min-width: 1260px) {
  .search-bar-container-md {
    width: 330px;
  }
}

.search-bar-md {
  height: 100%;
  width: 174px;
}

@media screen and (min-width: 992px) {
  .search-bar-md {
    width: 66px;
  }
}

@media screen and (min-width: 1260px) {
  .search-bar-md {
    width: 240px;
  }
}

.main-navigation {
  width: 100%;
  height: 99px;
  background-color: #333645;
}

@media screen and (max-width: 992px) {
  .main-navigation {
    display: none;
  }
}

.nav-container {
  width: 970px;
  margin: 0 auto;
}

.nav-container .main-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.nav-container .main-nav-list > li {
  text-align: center;
  flex: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.nav-container .main-nav-list > a {
  position: relative;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.125rem;
  text-decoration: none;
  line-height: 1;
  padding: 19px 0 18px 0;
}

.nav-container .main-nav-list i {
  margin-top: 10px;
}

.nav-container .main-nav-list .pop-up-nav {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  max-width: max-content;
  margin-right: auto;
  margin-left: auto;
  z-index: 2;
  display: none;
}

.nav-container .main-nav-list .pop-up-nav > li {
  list-style: none;
  float: left;
  z-index: 2;
}

.nav-container .main-nav-list .pop-up-nav > li:not(:last-child):after {
  content: "-";
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.nav-container .main-nav-list .pop-up-nav > li ::before {
  padding-right: 20px;
}

.nav-container .main-nav-list .pop-up-nav > li a {
  line-height: 2.813rem;
}

.nav-container .pop-up-nav-switcher:hover .pop-up-nav {
  display: block;
}

.nav-side-fill-web .pop-up-nav::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  background-color: #79539a;
}

.nav-side-fill-web .pop-up-nav::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  right: 100%;
  background-color: #79539a;
}

.nav-side-fill-it .pop-up-nav::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  background-color: #286abd;
}

.nav-side-fill-it .pop-up-nav::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  right: 100%;
  background-color: #286abd;
}

.nav-side-fill-telecoms .pop-up-nav::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  background-color: #bc2c28;
}

.nav-side-fill-telecoms .pop-up-nav::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  right: 100%;
  background-color: #bc2c28;
}

.nav-side-fill-bespoke .pop-up-nav::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  background-color: #526781;
}

.nav-side-fill-bespoke .pop-up-nav::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  right: 100%;
  background-color: #526781;
}

.nav-side-fill-digital .pop-up-nav::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  background-color: #25a25a;
}

.nav-side-fill-digital .pop-up-nav::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  right: 100%;
  background-color: #25a25a;
}

.nav-side-fill-cyber .pop-up-nav::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  background-color: #de093f;
}

.nav-side-fill-cyber .pop-up-nav::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  right: 100%;
  background-color: #de093f;
}

.image-container {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.171)), url("/images/carousel/home-lQs1.jpg");
  z-index: 0;
}

.image-container-latest {
  height: 100%;
  width: 100%;
  position: relative;
}

.middle-flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .middle-flex-container {
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 992px) {
  .middle-flex-container {
    max-width: 970px;
  }
}

@media screen and (min-width: 1260px) {
  .middle-flex-container {
    max-width: 1200px;
  }
}

.culture-container {
  height: auto;
  background: #333645;
  padding: 50px 15px 50px 15px;
}

@media screen and (min-width: 768px) {
  .culture-container .culture-block {
    padding: 0 115px;
  }
}

@media screen and (min-width: 992px) {
  .culture-container {
    background-image: url("/images/NetmattersLogos/brandedNMlogo.png");
  }
}

.latest-container {
  width: 100%;
  height: auto;
  background: white;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .latest-container {
    width: 100%;
    margin: 0 auto;
  }
}

.latest-content-container {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .latest-content-container {
    width: 750px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .latest-content-container {
    width: 920px;
  }
}

.latest-content-flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.newsletter-signup-container {
  background: #ddd;
}

.newsletter-signup-container .form-area {
  display: inline;
}

@media screen and (min-width: 992px) {
  .newsletter-signup-container .form-area {
    width: 48%;
    display: inline-block;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
  }
  .footer-container .container {
    width: 50%;
    box-sizing: border-box;
    float: left;
  }
}

@media screen and (min-width: 1260px) {
  .footer-container {
    width: 1200px;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-container .container {
    width: 25%;
    box-sizing: border-box;
    float: left;
  }
}

.accredidations {
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 50px 0;
}

.accredidations .container {
  padding-left: 15px;
  padding-right: 15px;
}

.header-vertical-padder {
  padding: 20px 0;
}

.logo-container {
  height: 100%;
  width: auto;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  padding-right: 15px;
}

.flex-container-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  width: 100%;
}

.flex-container-logo {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container img {
  max-width: 100%;
  align-self: baseline;
}

.search-bar {
  width: 100%;
  height: 100%;
}

.mobile-phone-icon-container {
  height: 32px;
  width: 32.41px;
  padding-right: 45px;
  display: inline;
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .mobile-phone-icon-container {
    display: none;
  }
}

.burger-icon-container {
  height: 56px;
  width: 63.03px;
  min-width: 63.03px;
  min-height: 56px;
  padding-left: 20px;
}

.desktop-header-container {
  width: 150px;
  height: 56px;
  padding-left: 20px;
}

@media screen and (max-width: 992px) {
  .desktop-header-container {
    display: none;
  }
}

.footer-container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-container ul li {
  font-size: .8125rem;
  line-height: 1.375rem;
}

.footer-container .container-social-extra {
  display: flex;
  flex-wrap: wrap;
}

.footer-container .social-container-small {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 40%;
  margin: 15px;
}

.footer-container .social-container-small img {
  width: 40px;
  padding: 10px;
}
