/*
Main: it should ONLY contain the imports for the above files.
*/
/*
reset file, some typographic rules, and probably a stylesheet defining
 some standard styles for commonly used HTML elements

 this includes useful basic all purposse sets. like a tags, headings 

*/
/* resets */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-size: 16px;
}

/* base styles */
body {
  width: 100%;
  height: auto;
  font-family: 'poppins-regular' ,sans-serif;
  font-weight: 400;
}

/* Set the below to the same as in the old style file, but try and keep it broad */
h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: #fff;
}

h2 {
  font-size: 1.125rem;
  color: #333645;
}

h3 {
  font-size: 1rem;
  color: #926fb1;
}

h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
}

footer {
  background-color: #333645;
  color: #fff;
  padding: 47px 0 43px;
}

/* utility */
/* Web Fonts -------------------- 
everything font related, literally like line height, font size, ect ect ect*/
@font-face {
  font-family: "poppins-regular";
  src: url("/fonts/Poppins-Regular.ttf");
}

.single-divider > div {
  width: 33px;
  height: 3px;
  background-color: black;
  margin: 6px auto;
}

.btn {
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  padding: 15px 30px 15px 30px;
  font-size: 1.063rem;
}

.btn-big {
  margin-top: 80px;
  padding: 5px 15px;
  height: auto;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  color: #fff;
  line-height: 50px;
  border: none;
}

/*Icon stylings sizes*/
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.arrow {
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 5px;
}

.social-media-icon {
  margin-top: 30px;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  font-size: 1.75rem;
  line-height: 3.438rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.carousel {
  height: 565px;
  width: 100%;
}

.carousel .text-area {
  margin: auto;
  height: max-content;
  max-width: max-content;
  text-align: center;
  padding-top: 110px;
}

.carousel h1 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 25px;
}

.carousel p {
  color: #fff;
  font-size: 1.25rem;
}

.carousel #dot {
  color: #fff;
  font-style: 2rem;
  margin-top: 50px;
}

.carousel .carousel-button {
  border: none;
  color: #fff;
  background-color: #f62459;
}

.carousel img {
  max-height: 100%;
  width: auto;
}

.content-item-1 {
  border: 1px solid #ccc;
  margin: 15px 15px 15px 15px;
  padding: 40px;
  width: 100%;
  height: fit-content;
  text-align: center;
}

.content-item-1 .dot {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 17px;
}

.content-item-1 .dot #tile-icon {
  line-height: 50px;
  color: white;
}

.content-item-1 h2 {
  font-weight: 250;
}

.content-item-1 p {
  font-size: .8125rem;
  font-weight: 400;
  margin: 13px;
}

.content-item-2 {
  border: 1px solid #ccc;
  margin: 15px 15px 15px 15px;
  width: 100%;
  height: fit-content;
}

.content-item-2 .image-container-latest img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-item-2 p {
  font-size: .8125rem;
  font-weight: 400;
  margin: 13px;
}

.content-item-2 .user {
  border-top: 1px solid #ccc;
  margin-top: 30px;
  padding-top: 30px;
}

.content-item-2 .user .post-details {
  display: inline-block;
}

.content-item-2 .user-title {
  font-weight: bold;
}

.bckgrnd-hoki {
  background-color: #67809f;
}

.bckgrnd-havelockblue {
  background-color: #4183d7;
}

.bckgrnd-shamrock {
  background-color: #2ecc71;
}

.bckgrnd-valenia {
  background-color: #d64541;
}

.bckgrnd-wisteria {
  background-color: #926fb1;
}

.bckgrnd-radicalred {
  background-color: #f62459;
}

.latest-title {
  width: 100%;
  height: 104px;
}

.latest-title h2 {
  display: block;
  padding: 40px 0;
  color: #333645;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  position: relative;
}

.culture-container h1 {
  font-size: 2.25rem;
}

.culture-container p {
  line-height: 1.875rem;
  margin-bottom: 25px;
  color: #fff;
}

.culture-container button {
  color: #333645;
}

.newsletter-signup-container form {
  padding: 50px 30px 50px 30px;
}

.newsletter-signup-container h2 {
  font-size: 2rem;
  font-weight: 400;
}

.newsletter-signup-container label {
  font-weight: 600;
}

.newsletter-signup-container input[type=text] {
  box-sizing: border-box;
  height: 47px;
  width: 100%;
  padding: 5px 15px;
}

.newsletter-signup-container button {
  display: block;
  margin-top: 30px;
}

.newsletter-signup-container span {
  display: inline-block;
  margin-top: 20px;
}

.newsletter-signup-container input[type=checkbox] {
  border-radius: 3px;
  border: 3px solid #333645;
  height: 32px;
  width: 32px;
}

.horizontal-padder {
  padding: 0 15px;
}

.text-container {
  padding: 30px;
}

.main-content {
  width: 100%;
  height: auto;
}

.image-container {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.171)), url("/images/home-lQs1.jpg");
}

.image-container-latest {
  height: 100%;
  width: 100%;
}

.middle-flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.culture-container {
  height: auto;
  background: #333645;
  padding: 50px 15px 50px 15px;
}

.latest-container {
  width: 100%;
  height: auto;
  background: white;
}

.latest-content-container {
  padding-top: 50px;
  padding-bottom: 20px;
}

.latest-content-flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.newsletter-signup-container {
  background: #ddd;
}

.footer-container {
  padding: 30px;
}

.header-vertical-padder {
  padding: 20px 0;
}

.logo-container {
  height: 100%;
  width: auto;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.flex-container-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  width: 100%;
}

.flex-container-logo {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container img {
  max-width: 100%;
  align-self: baseline;
}

.mobile-phone-icon-container {
  height: 32px;
  width: 32.41px;
  padding-right: 45px;
}

.burger-icon-container {
  height: 56px;
  width: 63.03px;
  min-width: 63.03px;
  min-height: 56px;
}

.burger-button {
  height: 100%;
  width: 100%;
  background-color: #333645;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

.burger-button:focus {
  border: none;
  outline: none;
}

.burger-button-inner > div {
  width: 33px;
  height: 3px;
  background-color: white;
  margin: 6px auto;
}

.burger-button p {
  margin: auto;
  color: white;
  font-size: 0.75rem;
}

.search-bar-container {
  width: 100%;
  height: 47px;
  padding-top: 10px;
}

.search-bar {
  width: 100%;
  height: 100%;
}

.search-bar input[type=text] {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  padding: 5px 40px 5px 15px;
}

.submit-button {
  background: none;
  border: none;
  color: #333645;
  outline: none;
  float: right;
  position: absolute;
  right: 25px;
  padding-top: 6px;
}

.footer-container {
  padding: 30px;
}
