/*
Layout: contains all the CSS that handles the layout, 
such as the container and any grid systems.
    OR
How the components relate to each other
*/


/* containers */


/* grids */


/*base styles*/
html {
    font-size: 16px;
}

body{
    width: 100%;
    height: auto;
    font-family: 'poppins-regular' ,sans-serif;
    
}

.header-vertical-padder {
    padding: 20px 0;

}
.header-horizontal-padder {
    padding: 0 15px;
}

.flex-container-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 100%;

}
.logo-container {
    height: 100%;
    width: auto;
    flex-grow: 1;
    flex-shrink: 1;

    min-width: 0;
    min-height: 0;
    overflow: hidden;
}

.flex-container-logo {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.logo-container img {
    max-width: 100%;
    align-self: baseline;
}

.mobile-phone-icon-container {
    height: 32px;
    width: 32.41px;
    padding-right: 45px;
}


.burger-icon-container {
    height: 56px;
    width: 63.03px;
    min-width: 63.03px;
    min-height: 56px;
}

.burger-button {
    height: 100%;
    width: 100%;
    background-color: #333645;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

.burger-button:focus {
    border: none;
    outline: none;
}


.burger-button-inner > div {
    width: 33px;
    height: 3px;
    background-color: white;
    margin: 6px auto;
}

.burger-button p {
    margin: auto;
    color: white;
    font-size: 0.75rem;
}

.search-bar-container
{
    width: 100%;
    height: 47px;
    padding-top: 10px;
}

.search-bar {
    width: 100%;
    height: 100%;
}

.search-bar input[type=text] {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.1);
  border: 2px solid rgba(0,0,0,.1);
  outline: 1px solid hsla(0,0%,100%,.2);
  box-sizing: border-box;
  padding: 5px 40px 5px 15px;
}


.submit-button {
    background: none;
    border: none;
    color: #333645;
    outline: none;
    float: right;
    position: absolute;
    right: 25px;
    padding-top: 6px;
}

.main-content {
    width: 100%;
    height: auto;

}

.carousel {
    height: 565px;
    width: 100%;

    .text-area {
        margin: auto;
        height:max-content;
        max-width: max-content;

        text-align: center;  
        padding-top: 25%;     
    }

    h1 {
        color:white;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 25px;
    }

    p {
        color: #fff;
        font-size:1.25rem;
    }

    #dot
    {
        color: #fff;
        font-style: 2rem;
        margin-top: 50px;

    }
    #arrow {
        font-weight: 80px;

    }

    .carousel-button {
        margin-top: 80px;

        height: auto;
        line-height: 35px;
        padding: 5px 15px;
        text-transform: uppercase;
        font-size: 1.063rem;
        border-radius: 3px;
        white-space: normal;
        color: #fff;
        background-color: #f62459;
        border-color: #f62459;
        line-height: 50px;
        border: none;
        border: 2px solid red;

    }

}





.image-container {
    height: 100%;
    width: 100%;
    background-image:linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.171)),url("/images/home-lQs1.jpg");
}



.carousel img {
    max-height: 100%;
    width: auto;
}

.middle-flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;

}

.content-item {
    border: 10px solid grey;
    margin: 30px 30px 30px 30px;
    width: 100%;
    height: 150px;
}

.culture-container {
    width: 100%;
    height: auto;
    background: #333645;
}

.latest-container {
    width: 100%;
    height: auto;
    background: white;
}

.latest-title {
    background: grey;
    width: 100%;
    height: 104px;
}


.latest-content-flex {
    display: flex;

}

.latest-container-item {

}


.newsletter-signup-container {

    background: #ddd;
}









/*mobile styles*/
@media screen and (min-width: 50px){
}



/*Tablet styles*/
@media screen and (min-width: 768px){
}



/*Desktop styles*/
@media screen and (min-width: 992px){
}
