/*
Main: it should ONLY contain the imports for the above files.
*/
/* resets */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

/* base styles  */
body {
  width: 100%;
  height: auto;
  font-family: 'poppins-regular' ,sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  color: #fff;
}

h2 {
  font-size: 1.125rem;
  color: #333645;
}

h3 {
  font-size: 1rem;
  color: #926fb1;
}

h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
  font-weight: 400;
}

footer {
  background-color: #333645;
  color: #fff;
  padding: 47px 0 43px;
}

/* utility */
@media screen and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .hide-tablet {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1259px) {
  .hide-desktop {
    display: none;
  }
}

@media screen and (min-width: 1260px) {
  .hide-desktop-lg {
    display: none;
  }
}

/* Web Fonts -------------------- 
everything font related, literally like line height, font size, ect ect ect*/
@font-face {
  font-family: "poppins-regular";
  src: url("/fonts/Poppins-Regular.ttf");
}

.single-divider > div {
  width: 33px;
  height: 3px;
  background-color: black;
  margin: 6px auto;
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 86.6px 100px 0 100px;
  border-color: #333645 transparent transparent transparent;
  position: absolute;
  left: 30%;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  z-index: -1;
  left: 28px;
}

.text-small {
  font-size: x-small;
}

.color-hoki {
  color: #67809f;
}

.color-havelockblue {
  color: #4183d7;
}

.color-shamrock {
  color: #2ecc71;
}

.color-valenia {
  color: #d64541;
}

.color-wisteria {
  color: #926fb1;
}

.color-radicalred {
  color: #f62459;
}

.bckgrnd-hoki {
  background-color: #67809f;
}

.bckgrnd-havelockblue {
  background-color: #4183d7;
}

.bckgrnd-shamrock {
  background-color: #2ecc71;
}

.bckgrnd-valenia {
  background-color: #d64541;
}

.bckgrnd-wisteria {
  background-color: #926fb1;
}

.bckgrnd-radicalred {
  background-color: #f62459;
}

.bckgrnd-grey {
  background-color: #999aa2;
}

.hover-hoki:hover {
  background-color: #67809f;
}

.hover-hoki:hover i {
  color: white;
}

.hover-havelockblue:hover {
  background-color: #4183d7;
}

.hover-havelockblue:hover i {
  color: white;
}

.hover-shamrock:hover {
  background-color: #2ecc71;
}

.hover-shamrock:hover i {
  color: white;
}

.hover-valencia:hover {
  background-color: #d64541;
}

.hover-valencia:hover i {
  color: white;
}

.hover-wisteria:hover {
  background-color: #926fb1;
}

.hover-wisteria:hover i {
  color: white;
}

.hover-radicalred:hover {
  background-color: #f62459;
}

.hover-radicalred:hover i {
  color: white;
}

.hover-facebook:hover {
  background-color: #3b5998;
}

.hover-twitter:hover {
  background-color: #3b5998;
}

.hover-instagram:hover {
  background-color: #d93175;
}

.hover-linkedin:hover {
  background-color: #0077b5;
}

.hover-switch-icons-hoki:hover .dot {
  background-color: white;
}

.hover-switch-icons-hoki:hover .dot i {
  color: purple;
}

.hover-switch-icons-hoki:hover h2 {
  color: white;
}

.hover-switch-icons-hoki:hover p {
  color: white;
}

.hover-switch-icons-hoki:hover .single-divider div {
  background-color: white;
}

.hover-switch-icons-hoki:hover button {
  background-color: white;
}

.hover-switch-icons-hoki:hover .dot #tile-icon {
  color: #67809f;
}

.hover-switch-icons-hoki:hover button {
  color: #67809f;
}

.hover-switch-icons-havelockblue:hover .dot {
  background-color: white;
}

.hover-switch-icons-havelockblue:hover .dot i {
  color: purple;
}

.hover-switch-icons-havelockblue:hover h2 {
  color: white;
}

.hover-switch-icons-havelockblue:hover p {
  color: white;
}

.hover-switch-icons-havelockblue:hover .single-divider div {
  background-color: white;
}

.hover-switch-icons-havelockblue:hover button {
  background-color: white;
}

.hover-switch-icons-havelockblue:hover .dot #tile-icon {
  color: #4183d7;
}

.hover-switch-icons-havelockblue:hover button {
  color: #4183d7;
}

.hover-switch-icons-shamrock:hover .dot {
  background-color: white;
}

.hover-switch-icons-shamrock:hover .dot i {
  color: purple;
}

.hover-switch-icons-shamrock:hover h2 {
  color: white;
}

.hover-switch-icons-shamrock:hover p {
  color: white;
}

.hover-switch-icons-shamrock:hover .single-divider div {
  background-color: white;
}

.hover-switch-icons-shamrock:hover button {
  background-color: white;
}

.hover-switch-icons-shamrock:hover .dot #tile-icon {
  color: #2ecc71;
}

.hover-switch-icons-shamrock:hover button {
  color: #2ecc71;
}

.hover-switch-icons-valenia:hover .dot {
  background-color: white;
}

.hover-switch-icons-valenia:hover .dot i {
  color: purple;
}

.hover-switch-icons-valenia:hover h2 {
  color: white;
}

.hover-switch-icons-valenia:hover p {
  color: white;
}

.hover-switch-icons-valenia:hover .single-divider div {
  background-color: white;
}

.hover-switch-icons-valenia:hover button {
  background-color: white;
}

.hover-switch-icons-valenia:hover .dot #tile-icon {
  color: #d64541;
}

.hover-switch-icons-valenia:hover button {
  color: #d64541;
}

.hover-switch-icons-wisteria:hover .dot {
  background-color: white;
}

.hover-switch-icons-wisteria:hover .dot i {
  color: purple;
}

.hover-switch-icons-wisteria:hover h2 {
  color: white;
}

.hover-switch-icons-wisteria:hover p {
  color: white;
}

.hover-switch-icons-wisteria:hover .single-divider div {
  background-color: white;
}

.hover-switch-icons-wisteria:hover button {
  background-color: white;
}

.hover-switch-icons-wisteria:hover .dot #tile-icon {
  color: #926fb1;
}

.hover-switch-icons-wisteria:hover button {
  color: #926fb1;
}

.hover-switch-icons-radicalred:hover .dot {
  background-color: white;
}

.hover-switch-icons-radicalred:hover .dot i {
  color: purple;
}

.hover-switch-icons-radicalred:hover h2 {
  color: white;
}

.hover-switch-icons-radicalred:hover p {
  color: white;
}

.hover-switch-icons-radicalred:hover .single-divider div {
  background-color: white;
}

.hover-switch-icons-radicalred:hover button {
  background-color: white;
}

.hover-switch-icons-radicalred:hover .dot #tile-icon {
  color: #f62459;
}

.hover-switch-icons-radicalred:hover button {
  color: #f62459;
}

.btn {
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  padding: 5px 15px 5px 15px;
  font-size: 1.063rem;
  font-family: 'poppins-regular' ,sans-serif;
  line-height: 35px;
}

.btn-big {
  margin-top: 50px;
  padding: 5px 15px;
  height: auto;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  color: #fff;
  line-height: 50px;
  border: none;
}

.btn-tooltip {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: .75rem;
  padding: 0 10px;
  line-height: 1.438rem;
  text-transform: uppercase;
  background-color: #926fb1;
  font-weight: 600;
}

.btn-wide {
  height: 56px;
  line-height: 46px;
  font-size: 1.125rem;
  float: left;
  color: #fff;
  background-color: #4183d7;
  border-color: #4183d7;
  padding: 5px 15px;
  text-transform: uppercase;
  border-radius: 3px;
  white-space: normal;
}

.btn-desktop {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.125rem;
  border-radius: 3px;
  white-space: normal;
  color: #fff;
  line-height: 50px;
  border: none;
  font-family: 'poppins-regular' ,sans-serif;
}

.burger-button {
  height: 100%;
  width: 100%;
  background-color: #333645;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

.burger-button:focus {
  border: none;
  outline: none;
}

.burger-button-inner > div {
  width: 33px;
  height: 3px;
  background-color: white;
  margin: 6px auto;
}

.burger-button p {
  margin: auto;
  color: white;
  font-size: 0.75rem;
}

/*Icon stylings sizes*/
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.arrow {
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 5px;
}

.social-media-icon {
  margin-top: 30px;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  font-size: 1.75rem;
  line-height: 3.438rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.search-bar input[type=text] {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 40px 5px 15px;
}

.submit-button {
  background: none;
  border: none;
  color: #333645;
  outline: none;
  float: right;
  position: absolute;
  right: 25px;
  padding-top: 6px;
}

.search-bar-md input[type=text] {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 40px 5px 15px;
  background-color: white;
}

.submit-button-md {
  outline: none;
  color: #fff;
  position: absolute;
  height: 56px;
  background-color: #999aa2;
  border-radius: 0 3px 3px 0;
  border: none;
  padding: 7px 15px 4px;
}

@media screen and (min-width: 992px) and (max-width: 1260px) {
  .submit-button-md {
    border-radius: 3px;
  }
}

.carousel {
  height: 565px;
  width: 100%;
}

.carousel .text-area {
  text-align: center;
  padding-bottom: 7%;
}

@media screen and (min-width: 992px) {
  .carousel .text-area {
    margin: auto;
    height: auto;
    max-width: unset;
    text-align: left;
  }
}

.carousel h1 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 25px;
}

.carousel p {
  color: #fff;
  font-size: 1.25rem;
}

.carousel #dot-outer {
  color: gray;
  font-size: 14px;
}

.carousel .carousel-button {
  border: none;
  color: #fff;
  background-color: #f62459;
}

@media screen and (min-width: 768px) {
  .carousel {
    height: 625px;
  }
}

@media screen and (min-width: 992px) {
  .carousel {
    height: 870px;
  }
}

.carousel img {
  max-height: 100%;
  width: auto;
}

.content-item-1 {
  border: 1px solid #ccc;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  margin-top: 30px;
}

.content-item-1 .dot {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 17px;
}

.content-item-1 .dot #tile-icon {
  line-height: 60px;
  color: white;
}

.content-item-1 h2 {
  font-weight: 250;
  line-height: 1.1;
}

.content-item-1 .single-divider div {
  margin-bottom: 11px;
  margin-top: 14px;
}

.content-item-1 p {
  font-size: .8125rem;
  font-weight: 400;
  margin-bottom: 13px;
}

.content-item-1 br {
  display: none;
}

.content-item-2 {
  border: 1px solid #ccc;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
}

.content-item-2 .image-container-latest img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-item-2 p {
  font-size: .8125rem;
  font-weight: 400;
}

.content-item-2 .user {
  border-top: 1px solid #ccc;
  padding-top: 30px;
  margin-top: 30px;
  font-size: 0.875rem;
  letter-spacing: 0.4px;
}

.content-item-2 .user img {
  display: inline-block;
}

.content-item-2 .user .post-details {
  display: inline-block;
  position: absolute;
  padding-left: 20px;
  padding-top: 3px;
  line-height: 1.375rem;
}

.content-item-2 .user-title {
  font-weight: bold;
  color: #333645;
}

.content-item-2 .user-date {
  color: #666;
}

.content-item-2 .text-container-news-tiles {
  padding: 30px;
}

.content-item-2 .text-container-news-tiles > h3 {
  line-height: 1.5rem;
  margin: 0 0 15px;
  min-height: 3rem;
}

.content-item-2 .text-container-news-tiles > h3 a {
  color: #926fb1;
}

.content-item-2 .text-container-news-tiles > p {
  line-height: 1.375rem;
  font-size: .8125rem;
  min-height: 66px;
  margin-bottom: 25px;
  color: #666;
}

@media screen and (min-width: 768px) {
  .tile-small-full-width {
    width: 720px;
  }
  .tile-small-half-width {
    width: 345px;
  }
}

@media screen and (min-width: 992px) {
  .tile-medium-thirds {
    width: 293px;
  }
  .tile-medium-halfs {
    width: 455px;
  }
}

@media screen and (min-width: 1260px) {
  .tile-large-quarters {
    width: 270px;
  }
  .tile-large-thirds {
    width: 370px;
  }
}

@media screen and (min-width: 768px) {
  .line-fill-small br {
    display: initial;
  }
}

@media screen and (min-width: 992px) {
  .line-fill-medium br {
    display: initial;
  }
}

@media screen and (min-width: 1260px) {
  .line-fill-large br {
    display: initial;
  }
}

.latest-title h2 {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #333645;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: -6px;
  line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
  .latest-title h2 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.single-divider-large {
  width: 72px;
  height: 5px;
  background-color: #333645;
}

@media screen and (min-width: 768px) {
  .single-divider-large {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .culture-container .text-block {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1260px) {
  .culture-container .text-block {
    width: 50%;
  }
}

.culture-container h1 {
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-weight: 400;
  margin-bottom: 25px;
}

.culture-container p {
  line-height: 1.875rem;
  margin-bottom: 25px;
  color: #fff;
  letter-spacing: .4px;
}

.culture-container button {
  color: #333645;
  padding: 5px 15px;
  line-height: 35px;
}

.culture-container i {
  margin-left: 10px;
}

.newsletter-signup-container .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.newsletter-signup-container form {
  padding: 50px 30px 50px 30px;
}

.newsletter-signup-container a {
  color: #333645;
  text-decoration: underline;
}

.newsletter-signup-container h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 15px;
}

.newsletter-signup-container label {
  font-weight: 600;
  margin-bottom: 5px;
  display: inline-block;
  color: #333645;
}

.newsletter-signup-container label::after {
  color: #d24d57;
  content: " *";
}

.newsletter-signup-container .form-area {
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
}

.newsletter-signup-container input[type=text] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 47px;
  width: 100%;
  padding: 5px 15px;
  border-color: #ccc;
}

.newsletter-signup-container .checkbox-wrapper {
  display: inline-block;
  vertical-align: top;
}

.newsletter-signup-container .label-wrapper {
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
  cursor: pointer;
  font-weight: 600;
  color: #333645;
  font-size: 1rem;
  letter-spacing: .4px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .newsletter-signup-container .label-wrapper {
    max-width: 608px;
  }
}

@media screen and (min-width: 992px) {
  .newsletter-signup-container .label-wrapper {
    max-width: 828px;
  }
}

@media screen and (min-width: 1260px) {
  .newsletter-signup-container .label-wrapper {
    max-width: 1058px;
  }
}

.newsletter-signup-container input[type=checkbox] {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-right: 20px;
}

.newsletter-signup-container input[type=checkbox]:checked {
  background-color: #333645;
}

.newsletter-signup-container button {
  display: block;
  background-color: #333645;
  border-color: #333645;
}

.newsletter-signup-container .hello {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .accredidations {
    display: none;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row .acred-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 20px;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 1;
}

.row .acred-item .pop-up-box-bussey {
  position: absolute;
  background-color: #333645;
  font-size: .875rem;
  text-align: center;
  padding: 20px;
  max-width: 260px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: auto;
  -webkit-transform: translate(-35px, -180px);
          transform: translate(-35px, -180px);
}

.row .acred-item .pop-up-box-crane {
  position: absolute;
  background-color: #333645;
  font-size: .875rem;
  text-align: center;
  padding: 20px;
  max-width: 260px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: auto;
  -webkit-transform: translate(15px, -224px);
          transform: translate(15px, -224px);
}

.row .acred-item .pop-up-box-beat {
  position: absolute;
  background-color: #333645;
  font-size: .875rem;
  text-align: center;
  padding: 20px;
  max-width: 260px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: auto;
  -webkit-transform: translate(-90px, -180px);
          transform: translate(-90px, -180px);
}

.row .acred-item .pop-up-box-northerndriver {
  position: absolute;
  background-color: #333645;
  font-size: .875rem;
  text-align: center;
  padding: 20px;
  max-width: 260px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: auto;
  -webkit-transform: translate(35px, -224px);
          transform: translate(35px, -224px);
}

.row .acred-item h3 {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.1;
  margin: 0 0 14px;
}

.row .acred-item .single-divider > div {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 11px;
}

.row .acred-item p {
  color: #fff;
  font-size: .8125rem;
  line-height: 1.375rem;
}

.row .acred-item img {
  height: auto;
  vertical-align: middle;
}

.acred-switcher > :last-child {
  display: none;
}

.acred-switcher:hover > :last-child {
  display: inline-block;
}

.acred-switcher:hover > :first-child {
  display: none;
}

.pop-up-switcher > div {
  display: none;
}

.pop-up-switcher:hover > div {
  display: inline-block;
}

.google-partners-badge {
  -webkit-box-shadow: 2px 2px 5px grey;
          box-shadow: 2px 2px 5px grey;
}

.horizontal-padder {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .horizontal-padder {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .horizontal-padder {
    width: 970px;
  }
}

@media screen and (min-width: 1260px) {
  .horizontal-padder {
    width: 1200px !important;
  }
}

.small-padder {
  margin-left: 15px;
  margin-right: 15px;
}

.main-content {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .search-bar-container {
    display: none;
  }
}

.search-bar-container {
  width: 100%;
  height: 47px;
  padding-top: 10px;
}

.search-bar-container-md {
  height: 56px;
  width: 237px;
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .search-bar-container-md {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1260px) {
  .search-bar-container-md {
    width: auto;
  }
  .search-bar-container-md input[type=text] {
    display: none;
  }
}

@media screen and (min-width: 1260px) {
  .search-bar-container-md {
    width: 306px;
  }
}

.search-bar-md {
  height: 100%;
  width: 174px;
}

@media screen and (min-width: 992px) {
  .search-bar-md {
    width: 66px;
  }
}

@media screen and (min-width: 1260px) {
  .search-bar-md {
    width: 240px;
  }
}

.main-navigation {
  width: 100%;
  height: 99px;
  background-color: #333645;
}

@media screen and (max-width: 992px) {
  .main-navigation {
    display: none;
  }
}

.nav-container {
  height: 100%;
  margin: 0 auto;
}

.nav-container .main-nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  height: 100%;
}

.nav-container .main-nav-list > li {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.nav-container .main-nav-list > li > span {
  display: block;
  height: 100%;
}

.nav-container .main-nav-list > li > span span {
  display: block;
  text-transform: uppercase;
}

.nav-container .main-nav-list > li > span span:first-of-type {
  padding-top: 19px;
  padding-bottom: 2px;
}

.nav-container .main-nav-list > li > span span:last-of-type {
  font-size: 1.125rem;
  line-height: 1.125rem;
}

.nav-container .main-nav-list > li > span .text-small {
  font-size: 0.625rem;
  line-height: 0.625rem;
}

.nav-container .main-nav-list > a {
  position: relative;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.125rem;
  text-decoration: none;
  line-height: 1;
}

.nav-container .main-nav-list .pop-up-nav {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-right: auto;
  margin-left: auto;
  z-index: 2;
  display: none;
}

.nav-container .main-nav-list .pop-up-nav > li {
  list-style: none;
  float: left;
  z-index: 2;
}

.nav-container .main-nav-list .pop-up-nav > li:not(:last-child) a:after {
  content: "-";
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.nav-container .main-nav-list .pop-up-nav > li a {
  line-height: 2.813rem;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}

.nav-container .pop-up-nav-switcher:hover .pop-up-nav {
  display: block;
}

.nav-side-fill-web .pop-up-nav::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  background-color: #79539a;
}

.nav-side-fill-web .pop-up-nav::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  right: 100%;
  background-color: #79539a;
}

.nav-side-fill-it .pop-up-nav::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  background-color: #286abd;
}

.nav-side-fill-it .pop-up-nav::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  right: 100%;
  background-color: #286abd;
}

.nav-side-fill-telecoms .pop-up-nav::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  background-color: #bc2c28;
}

.nav-side-fill-telecoms .pop-up-nav::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  right: 100%;
  background-color: #bc2c28;
}

.nav-side-fill-bespoke .pop-up-nav::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  background-color: #526781;
}

.nav-side-fill-bespoke .pop-up-nav::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  right: 100%;
  background-color: #526781;
}

.nav-side-fill-digital .pop-up-nav::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  background-color: #25a25a;
}

.nav-side-fill-digital .pop-up-nav::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  right: 100%;
  background-color: #25a25a;
}

.nav-side-fill-cyber .pop-up-nav::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  background-color: #de093f;
}

.nav-side-fill-cyber .pop-up-nav::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10000px;
  z-index: -1;
  right: 100%;
  background-color: #de093f;
}

.image-container {
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0.171))), url("/images/carousel/home-lQs1.jpg");
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.171)), url("/images/carousel/home-lQs1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icon-container {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 20px;
}

.image-container-latest {
  height: 100%;
  width: 100%;
  position: relative;
}

.middle-wrapper {
  padding-bottom: 30px;
}

.middle-flex-container {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .tile-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .tile-wrapper {
    width: 100%;
  }
}

.culture-container {
  height: auto;
  background: #333645;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 992px) {
  .culture-container {
    background-image: url("/images/NetmattersLogos/brandedNMlogo.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 100%;
  }
}

.latest-container {
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.latest-content-container {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.latest-content-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newsletter-signup-container {
  background: #ddd;
}

.newsletter-signup-container .form-area {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .newsletter-signup-container .form-area {
    width: 50%;
    display: inline-block;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-container .container {
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
  }
}

@media screen and (min-width: 1260px) {
  .footer-container {
    width: 1200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-container .container {
    width: 25%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
  }
}

.accredidations {
  -webkit-box-shadow: inset 0px 12px 20px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 12px 20px rgba(0, 0, 0, 0.1);
  padding: 50px 0;
}

.header-vertical-padder {
  padding: 20px 0;
}

.logo-container {
  height: 100%;
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  padding-right: 15px;
}

.flex-container-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
}

.flex-container-head a {
  width: 100%;
  height: 100%;
}

.flex-container-logo {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-container img {
  max-width: 100%;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.search-bar {
  width: 100%;
  height: 100%;
}

.mobile-phone-icon-container {
  height: 32px;
  width: 32.41px;
  padding-right: 45px;
  display: inline;
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .mobile-phone-icon-container {
    display: none;
  }
}

.burger-icon-container {
  height: 56px;
  width: 63.03px;
  min-width: 63.03px;
  min-height: 56px;
  padding-left: 20px;
  padding-right: 15px;
}

.desktop-header-container {
  width: 136px;
  height: 56px;
  padding-left: 20px;
}

@media screen and (max-width: 992px) {
  .desktop-header-container {
    display: none;
  }
}

.footer-container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-container ul li {
  font-size: .8125rem;
  line-height: 1.375rem;
}

.footer-container .container-social-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-container .social-container-small {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40%;
  margin: 15px;
}

.footer-container .social-container-small img {
  width: 40px;
  padding: 10px;
}
/*# sourceMappingURL=main.css.map */