/*varibles*/



/*reset*/



/*base styles*/

body { /* Essentially the entire website */
    margin: 0;
    font-family: Poppins,sans-serif;
    font-size: 1rem;
    letter-spacing: .4px;
    color: #666;
    background: gray;

}

h1, h2, h3 {

}

a {

}

p {


}


header { /* Container for the heading section */  
    width: 100%;
    background: aqua;
    

}

header .flex-container {
    display: inline-flex;
    width: 100%;
    height: auto;


}

logo img {
    width: 100%;
    size: 100%;

}

.flex-container .mobile-phone-icon {
    align-self: flex-end;

}


.flex-container .burger-button-outer {
    align-self: flex-end;

}

/*Burger butting styling*/
.burger-button-inner > div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.carousel img {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

/*fonts*/



/*mobile styles*/
@media screen and (min-width: 50px){
}



/*Tablet styles*/
@media screen and (min-width: 768px){
}



/*Desktop styles*/
@media screen and (min-width: 992px){
}
