/*varibles*/



/*reset*/



/*base styles*/

body { /* Essentially the entire website */

}


header { /* Container for the heading section */  

}

header .flex-container {
    display: inline-flex;


}

logo img {

}

logo .mobile-phone-icon {

}

logo .mobile-phone-icon {

}

.burger-button > div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.carousel img {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

/*fonts*/



/*mobile styles*/
@media screen and (min-width: 50px){
}



/*Tablet styles*/
@media screen and (min-width: 768px){
}



/*Desktop styles*/
@media screen and (min-width: 992px){
}
