//Reusable utility esk
.horizontal-padder {
    padding: 0 15px;
}

.text-container {
    padding: 30px;
}





// Main content container (This oculd probably be made resuable)
.main-content {
    width: 100%;
    height: auto;
}

//image container for the carousel
.image-container {
    height: 100%;
    width: 100%;
    background-image:linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.171)),url("/images/home-lQs1.jpg");
}

//image container for latest section
.image-container-latest
{
    height: 100%;
    width: 100%;
}

//layout container for the middle tile section
.middle-flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

//container for the culture section
.culture-container {

    height: auto;
    background: #333645;
    padding: 50px 15px 50px 15px;
}


//continer for the latest section
.latest-container {
    width: 100%;
    height: auto;
    background: white;
}

.latest-content-container {
    padding-top: 50px;
    padding-bottom: 20px;

}

.latest-content-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}



//Newsletter sign up section
.newsletter-signup-container {

    background: #ddd;
}







