
//Reusable utility esk




//More individual containers
// Main content container (This oculd probably be made resuable)
.main-content {
    width: 100%;
    height: auto;
}

//the search bar containers
@media screen and (min-width: 768px) {
    .search-bar-container {
      display: none;
    }
}

.search-bar-container
{
    width: 100%;
    height: 47px;
    padding-top: 10px;
}



//The middle sized search bar
.search-bar-container-md
{
    height: 56px;
    width: 237px;
    padding-left: 20px;


    @media screen and (max-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 992px) and (max-width: 1260px) {
        width: auto;

        input[type=text] {
            display: none;
        }
    }    

    @media screen and (min-width: 1260px) {
        width: 306px;
    }
}


.search-bar-md {
    height: 100%;
    width: 174px;


    @media screen and (min-width: 992px) {
        width: 66px;
    }
    
    @media screen and (min-width: 1260px) {
        width: 240px;
    }
}


// The main nav area with the lists
.main-navigation {
    width: 100%;
    height: 99px;
    background-color: #333645;

    @media screen and (max-width: 992px) {
        display: none;
    }
}


.nav-container {
    height: 100%;
    margin: 0 auto;

    .main-nav-list {
        
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        border-left: 1px solid hsla(0,0%,100%,.1);
        border-right: 1px solid rgba(0,0,0,.25);
        height: 100%;


        //The list elements of the nav bar
        > li {
            text-align: center;
            flex: 1;

            //**************FIX THE BORDERS BELOW****************
            border-right: 1px solid hsla(0,0%,100%,.1);
            border-left: 1px solid rgba(0,0,0,.25); 

            //this is bad nesting, lazyyy
            > span {
                display: block;
                height: 100%;

                span {
                    display: block;
                    text-transform: uppercase;
                }
                
                span:first-of-type {
                    padding-top: 19px;
                    padding-bottom: 2px;
                }
                span:last-of-type {
                    font-size: 1.125rem;
                    line-height: 1.125rem;
                }
                .text-small {
                    font-size: 0.625rem;
                    line-height: 0.625rem;
                }
            }
        }

            
        > a {
            position: relative;
            display: block;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.125rem;
            text-decoration: none;
            line-height: 1;  
        }        


        //the sub list that shows when the highlighted button is highlighted
        .pop-up-nav {
            position: absolute;
            width: 100%;
            left:0;
            right:0;

            max-width:max-content;
            margin-right: auto;
            margin-left: auto;

            z-index: 2;


            //default, then acivated when hovered
            display: none;


            > li {
                list-style: none;
                float: left;
                z-index: 2;


                &:not(:last-child) a:after {
                    content: "-";
                    padding-left: 20px;
                    padding-right: 20px;
                    color: white;
                }

                a {
                    line-height: 2.813rem;
                    color:white;
                    font-size: 1rem;    
                    text-transform: uppercase;  
                }
            }
        }
    }


    //The pop up functionality acivated by the big buttons
    .pop-up-nav-switcher:hover {
        .pop-up-nav {
            display: block;
        }
    }





    //instead of attaching it to the main class, add 6 seperate
    //classes to each one, adding 6 individual afters/befores,
    //then put the afters n befores to each class kinda like below


    //The following adds the coloured sections to each side of the pop up nav bar
}

.nav-side-fill-web .pop-up-nav {
    &::after {
        @include pop-up-nav-sides;
        background-color: #79539a;
    }
    &::before {
        @include pop-up-nav-sides;
        right: 100%;
        background-color: #79539a;
    }
} 

.nav-side-fill-it .pop-up-nav {
    &::after {
        @include pop-up-nav-sides;
        background-color: #286abd;
    }
    &::before {
        @include pop-up-nav-sides;
        right: 100%;
        background-color: #286abd;
    }
}   

.nav-side-fill-telecoms .pop-up-nav {
    &::after {
        @include pop-up-nav-sides;
        background-color: #bc2c28;
    }
    &::before {
        @include pop-up-nav-sides;
        right: 100%;
        background-color: #bc2c28;
    }
}   

.nav-side-fill-bespoke .pop-up-nav {
    &::after {
        @include pop-up-nav-sides;
        background-color: #526781;
    }
    &::before {
        @include pop-up-nav-sides;
        right: 100%;
        background-color: #526781;
    }
}   

.nav-side-fill-digital .pop-up-nav {
    &::after {
        @include pop-up-nav-sides;
        background-color: #25a25a;
    }
    &::before {
        @include pop-up-nav-sides;
        right: 100%;
        background-color: #25a25a;
    }
} 


.nav-side-fill-cyber .pop-up-nav {
    &::after {
        @include pop-up-nav-sides;
        background-color: #de093f;
    }
    &::before {
        @include pop-up-nav-sides;
        right: 100%;
        background-color: #de093f;
    }
}   






//image container for the carousel
.image-container {
    height: 100%;
    width: 100%;
    background-image:linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.171)),url("/images/carousel/home-lQs1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

//container for the icon below image
.icon-container {
    display: block;
    align-self: center;
    padding-bottom: 20px;
}

//image container for latest section
.image-container-latest
{
    height: 100%;
    width: 100%;
    position: relative;
}



//layout container for the middle tile section

.middle-wrapper {
    padding-bottom: 30px;

}

.middle-flex-container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding-top: 20px;
    padding-bottom: 20px;

}

.tile-wrapper {
    @include padding-small-viewport;
    @media screen and (max-width:768px) {
        width: 100%;   
    }        
}

//container for the culture section
.culture-container {

    height: auto;
    background: #333645;
    padding-top: 50px;
    padding-bottom: 50px;

    @media screen and (min-width:992px) {
        background-image: url("/images/NetmattersLogos/brandedNMlogo.png");
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: 100%;
    }
}


//continer for the latest section
.latest-container {
    width: 100%;
    background: white;
    box-shadow: 0 3px 35px rgba($color: #000000, $alpha: 0.1);
}


//container for the content of the latest section
.latest-content-container {
    padding-top: 20px;
    padding-bottom: 50px;

    padding-left: 15px;
    padding-right: 15px;
}

//flex properties for the latest content
.latest-content-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

//Newsletter sign up section
.newsletter-signup-container {
    background: #ddd;

    .form-area {
        width:100%;
    }

    @media screen and (min-width:992px) {
        .form-area {
            width:50%;
            display: inline-block; 
        }   
    }   

}

.footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (min-width:768px) {
    .footer-container
    {
        flex-direction: row;
        .container {
            width: 50%;
            box-sizing: border-box;
            float: left;
        }
    }
}

@media screen and (min-width:1260px) {
    .footer-container
    {
        width: 1200px;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        
        .container {
            width: 25%;
            box-sizing: border-box;
            float: left;
            padding-left: 15px;
            padding-right: 15px;
            
        }
    }
}



//Accredidations section
.accredidations {
    box-shadow: inset 0px 12px 20px rgba($color: #000000, $alpha: 0.1);
    padding: 50px 0;
}






