
//Main container 
.footer-container {
    padding-right: 15px;
    padding-left: 15px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-size: .8125rem;
            line-height: 1.375rem;
        }
    }


    //Container for the footer elements
    .container-social-extra {
        display: flex;
        flex-wrap: wrap;
        


    }

    //The container for the social media icons at the bottom of the page
    // (Below needs a container as the width should be 50% )
    .social-container-small {
        text-align: center;
        background-color: rgba(0,0,0,.25);
        box-sizing: border-box;
        width: 40%;
        margin: 15px;

        img {
            width: 40px;
            padding: 10px;
        }
    }
}



