
//vertical padder
.header-vertical-padder {
    padding: 20px 0;
}
    

//Main logo container
.logo-container {
    height: 100%;
    width: auto;
    flex-grow: 1;
    flex-shrink: 1;

    min-width: 0;
    min-height: 0;
    overflow: hidden;
}

//flex container for the head
.flex-container-head { 
    display: flex;  
    flex-direction: row;   
    align-items: center;  
    height: 70px;
    width: 100%;
    }
    

//flex logo container
.flex-container-logo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


//The main top left logo IMAGE (not container, just the image)
.logo-container img {
    max-width: 100%;
    align-self: baseline;
}

//the mobile icon
@media screen and (min-width: 768px) {
    .mobile-phone-icon-container {
        display: none;
    }
    
}
.mobile-phone-icon-container {
    height: 32px;
    width: 32.41px;
    padding-right: 45px;
}

//the burger icon
.burger-icon-container {
    height: 56px;
    width: 63.03px;
    min-width: 63.03px;
    min-height: 56px;
}