


//Padder (Pads left/right, and auto centers)
.horizontal-padder {
    box-sizing: border-box;

    //The padding below might need to be added
    margin: 0 auto;

    
    @media  screen and (max-width:768px) {
        padding-left: 15px;
        padding-right: 15px;
        }

    @media  screen and (min-width:768px) {
    width: 750px;
    }

    @media screen and (min-width:992px) {
        width: 970px;
    }

    @media screen and (min-width:1260px) {
        width: 1200px !important;
    }
}


.small-margin-padder {
    margin-left: 15px;
    margin-right: 15px;
}

.small-padder-padder {
    padding-left:15px;
    padding-right:15px
}

