

//accreditations section
//Media to show the accreditation
@media screen and (max-width: 768px) {
    .accredidations {
      display: none;
    }
}



//The below currently applies to both the acreds and the company logos,
// this needs to be split as they will have some styling differences.
.row {
    display: flex;
    flex-direction: row;
    width: 750px;
    margin: 0 auto;


    .acred-item {
        flex-grow: 1;
        padding: 0 20px;
        flex-grow: 1;

        img {
            height: auto;
            width: 100%;
        }
    }
}


.google-partners-badge {
    box-shadow: 2px 2px 5px grey;

}
