



//accreditations section

//Media to show the accreditation
@media screen and (max-width: 768px) {
    .accredidations {
      display: none;
    }
}



.row {
    display: flex;
    .acred-item {

    }

}

.row-2 {
    display: flex;

    .acred-item {
        
    }

}