
//Button base class for all buttons. (equal to all small buttons)
.btn {
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    padding: 5px 15px 5px 15px;
    font-size: 1.063rem;
    font-family: 'poppins-regular' ,sans-serif;
    line-height: 35px;
}


//Additonal class to add to a button to make like the carousel button.
.btn-big {
    margin-top: 50px;
    padding: 5px 15px;
    height: auto;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;
    color:$color-text-white;
    line-height: 50px;
    border: none;
}


.btn-tooltip {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: .75rem;
    padding: 0 10px;
    line-height: 1.438rem;
    text-transform: uppercase;
    background-color: $color-text-purple;
    font-weight: 600;
    z-index: 2;

    &:hover {
        text-decoration: underline;
    }
}


.btn-wide {
    height: 56px;
    line-height: 46px;
    font-size: 1.125rem;
    float: left;
    color: #fff;
    background-color: #4183d7;
    border-color: #4183d7;
    padding: 5px 15px;
    text-transform: uppercase;
    border-radius: 3px;
    white-space: normal;
}


.btn-desktop {
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.125rem;
    border-radius: 3px;
    white-space: normal;
    color:$color-text-white;
    line-height: 50px;
    border: none;
    font-family: 'poppins-regular' ,sans-serif;
}



//Burger button styling in nav bar
.burger-button {
    height: 100%;
    width: 100%;
    background-color: #333645;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

.burger-button:focus {
    border: none;
    outline: none;
}

.burger-button-inner > span {
    width: 33px;
    height: 3px;
    background-color: white;
    margin: 6px auto;
    display: block;
}

.burger-button .text {
    margin: auto;
    color: white;
    font-size: 0.75rem;
    font-family: $stack-poppins;
    text-transform: uppercase;
}

