
//Button base class for all buttons. (equal to all small buttons)
.btn {
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    padding: 15px 30px 15px 30px;
    font-size: 1.063rem;
}


//Additonal class to add to a button to make like the carousel button.
.btn-big {
    margin-top: 80px;
    padding: 5px 15px;
    height: auto;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;
    color:$color-text-white;
    line-height: 50px;
    border: none;
}


.btn-tooltip {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: .75rem;
    padding: 0 10px;
    line-height: 1.438rem;
    text-transform: uppercase;
    background-color: $color-text-purple;
    font-weight: 600;

}


















//Burger button styling in nav bar
.burger-button {
    height: 100%;
    width: 100%;
    background-color: #333645;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

.burger-button:focus {
    border: none;
    outline: none;
}

.burger-button-inner > div {
    width: 33px;
    height: 3px;
    background-color: white;
    margin: 6px auto;
}

.burger-button p {
    margin: auto;
    color: white;
    font-size: 0.75rem;
}