

//Anything related to the carousel

.carousel {
    width: 100%;
    height: calc(100vh - 167px) !important;

    @media screen and (min-width:768px) {
        height: calc(100vh - 110px) !important;
    }

    @media screen and (min-width:992px) {
        height: calc(100vh - 209px) !important;
    }

    
    
    .text-area {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;


        @media screen and (min-width:992px) {
            text-align: left;

        }
    }


    h1 {
        color:white;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 25px;
    }

    p {
        color: #fff;
        font-size:1.25rem;
    }

    #dot-outer
    {
        color: hsl(0, 0%, 50%);
        font-size: 21px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .carousel-button {
        border: none;      
        color: #fff;
        background-color: #f62459;
        margin:0;
        margin-top: 30px;
    }

}

.carousel img {
    max-height: 100%;
    width: auto;
}

