

//Anything related to the carousel

.carousel {
    height: 565px;
    width: 100%;
    


    .text-area {
        margin: auto;
        height:max-content;
        max-width: max-content;

        text-align: center;  
        padding-top: 110px;  
        
        @media screen and (min-width:992px) {
            margin: auto;
            height:auto;
            max-width:unset;
            text-align: left;  
            padding-top: 110px;  
            padding-left: 33px;
            width: 992px;
        }
    }

    h1 {
        color:white;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 25px;
    }

    p {
        color: #fff;
        font-size:1.25rem;
    }

    #dot
    {
        color: #fff;
        font-style: 2rem;
        margin-top: 50px;

    }

    .carousel-button {
        border: none;      
        color: #fff;
        background-color: #f62459;
    }


    @media screen and (min-width: 768px) {
        height: 625px;
    }

    @media screen and (min-width:992px) {
        height: 870px;
        
    }


}

.carousel img {
    max-height: 100%;
    width: auto;
}

