//The latest section


.latest-title {

    width: 100%;
    height: 104px;

    h2 {
        display: block;
        padding: 40px 0;
        color: #333645;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 600;
        position: relative;
    }
}



//this will contain the rest of the styling for the latest section
//everything to do with latest this isnt layout orientated.