//The latest section
.latest-title {
    h2 {
        padding-top: 40px;
        padding-bottom: 40px;
        color: #333645;
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 600;
        @include padding-small-viewport;
        margin-bottom: -6px;
        line-height: 1.5rem;
    }
}

.single-divider-large {
    width: 72px;
    height: 5px;
    background-color: #333645;
    @include margin-small-viewport;        
}
