

//newsletter section
.newsletter-signup-container {

    margin-right: auto;
    margin-left: auto;



    //Move on for now, ASK IN THE DISCORD TOMORROW< THIS CAN WAIT, YOU NEED TO GET TO JUMPING FROM TASK TO TASK AND THEN ASKING FOR HELP
    // WHEN YOU CANT MOVE FORWARD
    form {
        padding: 50px 30px 50px 30px;


        @media screen and (min-width:768px) {
            width: 750px;
            margin: 0 auto;
            box-sizing: border-box;
        }
    }

    a {
        color: $tuna;
        text-decoration: underline;
    }

     h2 {
         font-size: 2rem;
         font-weight: 400;
     }
     label {
         font-weight: 600;
     }

     input[type=text] {
        box-sizing: border-box;
        height: 47px;
        width: 100%;
        padding: 5px 15px;
     }

     button {
         display: block;
         margin-top: 30px;
     }


     input[type=checkbox] { 
        border-radius: 3px;
        border: 3px solid #333645;
        height: 32px;
        width: 32px;

     }

 }



