//The search bar for mobile 

.search-bar input[type=text] {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.1);
  border: 2px solid rgba(0,0,0,.1);
  outline: 1px solid hsla(0,0%,100%,.2);
  box-sizing: border-box;
  padding: 5px 40px 5px 15px;
}


.submit-button {
    background: none;
    border: none;
    color: #333645;
    outline: none;
    float: right;
    position: absolute;
    right: 25px;
    padding-top: 6px;
}




//the search bar for medium viewport

.search-bar-md input[type=text] {
  height: 100%;
  //width: 100%;
  background: rgba(0,0,0,.1);
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  padding: 5px 40px 5px 15px;
  background-color: white;

  }
  
  
  .submit-button-md {

    outline: none;
    color: #fff;
    position: absolute;
    height: 56px;
    background-color: #999aa2;
    border-radius: 0 3px 3px 0;
    border: none;
    padding:7px 15px 4px;


    @media screen and (min-width: 992px) and (  max-width: 1260px) {
      border-radius: 3px;
    }
  }


  //Functionality for the search bar switcher in mid viewport
    .hover-button-switch:focus { 

        .hider-from-switch {
          display: none;
        }

        .shower-from-switch {
          display: initial;
          width: 300px;
        }

        .container-size-setter {
          width: 363px;
        }

        .set-width-auto {
          width: 100%;
        }
  }
