

.content-item-1 {
    border: 1px solid #ccc;
    width: 100%;
    height: fit-content;
    text-align: center; 
    border-radius: 3px; 
    box-shadow: 0 3px 35px rgba($color: #000000, $alpha: 0.1);
    box-sizing: border-box;
    padding: 30px;
    margin-top: 30px;
    
    .dot {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 17px;

        .card-icon {
            line-height: 60px;
            color: white;
        }
      }

      h2 {
        font-weight: 250;
        line-height: 1.1;
      }

      .single-divider {
          div {
              margin-bottom: 11px;
              margin-top: 14px;
          }
      }

      p {
        font-size: .8125rem;
        font-weight: 400;
        margin-bottom: 13px;
        line-height: 1.375rem;
        letter-spacing: .4px;
      }

      br {
          display: none;
          @media screen and (min-width:769px) and (max-width:992px) {
              display: initial;
        }
      }
}



//latest news tiles
.content-item-2 {
    border: 1px solid #ccc;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    margin-top: 30px;
    

    .image-container-latest {

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            object-position: 50% 50%;
            transition: transform .25s;
            z-index: 1;
        }

        img:hover {
            -ms-transform: scale(1.1);
            -webkit-transform: scale(1.1); 
            transform: scale(1.1);
            opacity: .5;
        }
    }
    p {
        font-size: .8125rem;
        font-weight: 400;
      }
      
    .user {
        border-top: 1px solid #ccc;
        padding-top: 30px;
        margin-top: 30px;
        font-size: 0.875rem;
        letter-spacing: 0.4px;

        img {
            display: inline-block;
        }

        .post-details {
            display:inline-block;
            position: absolute;
            padding-left: 20px;
            padding-top: 3px;
            line-height: 1.375rem;
        }

        }
        .user-title {
            font-weight: bold;
            color: #333645;
        }

        .user-date {
            color: #666;
        }


        //COmment to split to stop me getting confused
        .text-container-news-tiles {
            padding: 30px;

            > h3 {
                line-height: 1.5rem;
                margin: 0 0 15px;
                min-height: 3rem;

                &:hover {
                    text-decoration: underline;
                }

                a {
                    color:$Wisteria;
                    
                }
            }
            > p {
                line-height: 1.375rem;
                font-size: .8125rem;
                min-height: 66px;
                margin-bottom: 25px;
                color: #666;
            }
        }
}






    
//Tile size changes with various functionality
//with the following syntax: "tile-*viewport*-*size-setting*
@media screen and (min-width:768px) {
    //full width but contrained on small screens
    .tile-small-full-width {
        width: 720px;
    }
    //half width on small screen
    .tile-small-half-width {
        width: 345px;  
    }    
}

@media screen and (min-width:992px) {
    //splits into thirds on medium screens
    .tile-medium-thirds {
        width:293px;
    }

    .tile-medium-halfs {
        width: 455px;
    }
}

@media screen and (min-width:1260px) {
    //splits into quatres 
    .tile-large-quarters {
        width: 270px;

    }

    .tile-large-thirds {
        width:370px;
    }
}



//Filler system is below - The size refers to the
//viewport is it applied to, not the size of the line

.line-fill-small {
    @media screen and (min-width:768px) {
        br {
            display: initial;
        }         
    }

}

.line-fill-medium { 
    @media screen and (min-width:992px) {   
        br {
            display: initial;
        }   
    }
}

.line-fill-large {
    @media screen and (min-width:1260px) {   
        br {
            display: initial;
        }   
    }
}





