/* Web Fonts -------------------- 
everything font related, literally like line height, font size, ect ect ect*/

@font-face {
    font-family: "poppins-regular";
    src: url("/fonts/Poppins-Regular.ttf");
}



//some random things that are kinda typographical
.single-divider > div {
    width: 33px;
    height: 3px;
    background-color: black;
    margin: 6px auto;
}

.arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 86.6px 100px 0 100px;
    border-color: #333645 transparent transparent transparent;
    position: absolute;
    left:30%;
    transform: translateY(-30px);
    z-index: -1;
    left: 28px;
}


.text-small {
    font-size: x-small;
}



//colour varient for main color
.color-hoki {
    color: $hoki;
}
.color-havelockblue {
    color: $HavelockBlue;
}
.color-shamrock {
    color: $Shamrock;
}
.color-valenia {
    color: $Valencia;
}
.color-wisteria {
    color: $Wisteria;
}
.color-radicalred {
    color: $RadicalRed;
}



//colour varient for backgrounds
.bckgrnd-hoki {
    background-color: $hoki;
}
.bckgrnd-havelockblue {
    background-color: $HavelockBlue;
}
.bckgrnd-shamrock {
    background-color: $Shamrock;
}
.bckgrnd-valenia {
    background-color: $Valencia;
}
.bckgrnd-wisteria {
    background-color: $Wisteria;
}
.bckgrnd-radicalred {
    background-color: $RadicalRed;
}
.bckgrnd-grey {
    background-color: $grey;
}


//various hover varients specifically for the vav bar as 
//the icons need to have a switch as well

.hover-hoki:hover {
    background-color: $hoki;
    i {
        color: white;
    }
}
.hover-havelockblue:hover {
    background-color: $HavelockBlue;
    i {
        color: white;
    }
}
.hover-shamrock:hover {
    background-color: $Shamrock;
    i {
        color: white;
    }
}
.hover-valencia:hover {
    background-color: $Valencia;
    i {
        color: white;
    }
}
.hover-wisteria:hover {
    background-color: $Wisteria;
    i {
        color: white;
    }
}
.hover-radicalred:hover {
    background-color: $RadicalRed;
    i {
        color: white;
    }
}


//Hover varients for darkening the buttons

.hover-havelockblue-dark:hover {      
    background-color:darken($HavelockBlue, 10%);
}

.hover-valencia-dark:hover {
    button {
        background-color:darken($Valencia, $amount: 10%);
    }
}

.hover-wisteria-dark:hover {
    background-color:darken($Wisteria, $amount: 10%);
}

.hover-grey:hover {
    background-color:darken($grey, $amount: 10%);
}

.hover-darkblue-dark:hover {
    background-color:darken(#333645, $amount: 10%);
}

.hover-white-dark:hover {    
    background-color:darken(white, $amount: 30%);
}


//Hover icons for the social media buttons (Yeah I know :P important is only be used here cos my 
//structure is a bit of a mess and its not rly worth the time to change my indexing around)
.hover-facebook:hover {
    background-color: #3b5998 !important;
}

.hover-twitter:hover {
    background-color: #808ba1 !important;
}

.hover-instagram:hover {
    background-color: #d93175 !important;
}

.hover-linkedin:hover {
    background-color: #0077b5 !important;
}




//Hover switch colour changes (def a better way to do this but its chill)
.hover-switch-icons-hoki:hover {
    @include tile-hover-switch;
    .dot .tile-icon {
        color: $hoki;
    }    
    button {
        color: $hoki;
    }
}

.hover-switch-icons-havelockblue:hover {
    @include tile-hover-switch;
    .dot .tile-icon {
        color: $HavelockBlue;
    }    
    button {
        color: $HavelockBlue;
    }
}

.hover-switch-icons-shamrock:hover {
    @include tile-hover-switch;
    .dot .tile-icon {
        color: $Shamrock;
    }    
    button {
        color: $Shamrock;
    }
}

.hover-switch-icons-valenia:hover {
    @include tile-hover-switch;
    .dot .tile-icon {
        color: $Valencia;
    }    
    button {
        color: $Valencia;
    }
}

.hover-switch-icons-wisteria:hover {
    @include tile-hover-switch;
    .dot .tile-icon {
        color: $Wisteria;
    }    
    button {
        color: $Wisteria;
    }
}

.hover-switch-icons-radicalred:hover {
    @include tile-hover-switch;
    .dot .tile-icon {
        color: $RadicalRed;
    }    
    button {
        color: $RadicalRed;
    }
}