/*
reset file, some typographic rules, and probably a stylesheet defining
 some standard styles for commonly used HTML elements

 this includes useful basic all purposse sets. like a tags, headings 

*/


 
/* resets */
 * {
    margin: 0;
    padding: 0;
    }


/* base styles */
body{
    width: 100%;
    height: auto;
    font-family: 'poppins-regular' ,sans-serif;
}


/* Set the below to the same as in the old style file, but try and keep it broad */
h1 {

}

h2 {

}




 
/* utility */





/* typography */
@font-face {
    font-family: "poppins-regular";
    src: url("/fonts/Poppins-Regular.ttf");
}



/*Icon stylings sizes*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


