/*
reset file, some typographic rules, and probably a stylesheet defining
 some standard styles for commonly used HTML elements

 this includes useful basic all purpose sets. like a tags, headings 

*/


 
/* resets */
 * {
    margin: 0;
    padding: 0;
    border:0;
    font-size: 100%;
    vertical-align: baseline;
    }

html {
    font-size: 16px;
    box-sizing: border-box;
}

/* base styles  */
body{
    width: 100%;
    height: auto;
    font-family: 'poppins-regular' ,sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
    color: $color-text-white;
}

h2 {
    font-size: 1.125rem;
    color: $color-text-blue;
}

h3 {
    font-size: 1rem;
    color: $color-text-purple;
}

h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 26px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
}




footer {
    background-color: #333645;
    color: #fff;
    padding: 47px 0 43px;
}


 
/* utility */



// These can be anything like the following: 

//Then for when the middle viewport size is applied, the large will make the tile go big, while the small will 
//keep the other ones small

.col-large-6 {

}

.col-sm-6 {

}

.col-md-6 {


}




