
@mixin pop-up-nav-sides {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10000px;
    z-index: -1;
}

@mixin pop-up-box-template {
    position: absolute;
    background-color: #333645;
    font-size: .875rem;
    text-align: center;
    padding: 20px;
    max-width: 260px;
    box-sizing: border-box;
    z-index: auto;
}


@mixin tile-hover-switch {
        //The icon
        .dot {
            background-color: white;
            i {
                color: purple;
            }
        }
    
        //the heading
        h2 {
            color: white;
        }
    
        p {
            color: white;
        }
    
        //the divider
        .single-divider div {
            background-color: white;
        }
    
        button {
            background-color: white;
        }
}



//Some mixings becuase the netmatters has sooo many
//random paddings and margins i keep having to take
//and add them my god
@mixin padding-small-viewport {
    @media screen and (min-width:768px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@mixin margin-small-viewport {
    @media screen and (min-width:768px) {
        margin-left: 15px;
        margin-right: 15px;
    }
}