

// Descriptive color variables
$white           :#fff;
$black           :#000;
$tuna            :#333645;
$hoki            :#67809f;
$HavelockBlue    :#4183d7;
$Shamrock        :#2ecc71;
$Valencia        :#d64541;
$Wisteria        :#926fb1;
$RadicalRed      :#f62459;


// Functional color variables  - Describe everything it will be applied to in a nice concise way.
$color-background-bespoke             :$hoki;
$color-background-itsupport           :$HavelockBlue;
$color-background-digitalmarketing    :$Shamrock;
$color-background-telecomsservices    :$Valencia;
$color-background-webdesign           :$Wisteria;
$color-background-cybersecurity       :$RadicalRed;
$color-background-developertraining   :$Wisteria;

$color-text-blue                      :$tuna;
$color-text-white                     :$white;
$color-text-latest                    :$tuna;
$color-text-purple                    :$Wisteria;



//font stacks
$stack-poppins  : 'poppins-regular', sans-serif;


// Asset paths

$path-img  : '../images';
$path-font : '../fonts';


// Media query breakpoints
$brk-small : '(min-width: 50px)';
$brk-medium   : '(min-width: 768px)';
$brk-large   : '(min-width: 992px)';



